.enter-co-n {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.button {
    padding: 5px;
    cursor: pointer;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #9e9e9e;
}

.table thead tr th {
    border: 1px solid #9e9e9e;
    font-size: 14px;
    padding: 10px;
    color: var(--text-color);
    text-align: center;
    white-space: nowrap;
}

.table tbody tr td {
    border: 1px solid #9e9e9e;
    font-size: 14px;
    padding: 10px;
    color: var(--text-color);
    text-align: center;
    white-space: nowrap;
}

.form-edit-btn,
.form-delete-btn {
    width: 100%;
    cursor: pointer;
}

.input {
    width: 100%;
    padding: 5px;
}
